.w-full {
  width: 100%;
}

.block {
  display: block;
}
.app-container {
  display: grid;
  max-width: 1520px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.jc-center {
  justify-content: center;
}
.jc-between {
  justify-content: space-between;
}
.ai-center {
  align-items: center;
}
.ai-baseline {
  align-items: baseline;
}
